.App {
    --header_height: 60px;
}

.hw {

    border: 1px solid #D9D9D9;
    color: #000000;
    padding: 32px;

}

.hwTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin: 16px 70px;
    /* identical to box height */
}